@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");

/* * {
  cursor: wait;
} */

* {
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;
}

.practices-heading {
  letter-spacing: 1vw;
}

.practices:hover {
  filter: none;
  z-index: 1;
}

.container:hover .practices:not(:hover) {
  filter: blur(1.5px);
}
